{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}
    <h1>Change Password</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">Change</button>
    {{ form_end(form) }}

    <a href="{{ path('user_index') }}">back to list</a>
{% endblock %}