{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Category index</h1>

    <div class="count mb-2">
        {{ pagination.getTotalItemCount }} items found
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'c.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Title', 'c.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Slug', 'c.slug') }}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in pagination %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.title }}</td>
                <td>{{ category.slug }}</td>
                <td>
                    <a role="button" class="btn-sm btn-light"
                       href="{{ path('category_show', {'id': category.id}) }}">show</a>
                    <a role="button" class="btn-sm btn-light"
                       href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <a href="{{ path('category_new') }}">Create new</a>
{% endblock %}
