{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <div class="count mb-2">
        {{ pagination.getTotalItemCount }} items found
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Slug', 'a.slug') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Description', 'a.description') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'In Stock', 'a.inStock') }}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in pagination %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.slug }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.inStock ? 'Yes' : 'No' }}</td>
                <td>
                    <a role="button" class="btn-sm btn-light"
                       href="{{ path('article_show', {'id': article.id}) }}">show</a>
                    <a role="button" class="btn-sm btn-light"
                       href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <a href="{{ path('article_new') }}">Create new</a>
{% endblock %}
